# Don't commit large data files
data/partisan_data
data/GWdata
data/tweets/house_attempts/
data/tweets/house_tweets.csv

# Ignore secrets files located in configs directory
configs/*

# Ignore notebook checkpoints
.ipynb_checkpoints/

# virtualenvironment
sprml/

# Ignore annoying files
*.icloud
*.DS_Store
*__pycache__/
