# Don't commit GWs large data files
data/partisan_data
data/GWdata

# Ignore secrets files located in configs directory
configs/*

# Ignore notebook checkpoints
.ipynb_checkpoints/

# virtualenvironment
sprml/

